<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652487877880-s27mig40ut982g7gt0d4ltu7bfv1tl9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652487877880-s27mig40ut982g7gt0d4ltu7bfv1tl9f</string>
	<key>API_KEY</key>
	<string>AIzaSyAIiaCGDPuO8rkX461GkZSDl3amaz2PL6A</string>
	<key>GCM_SENDER_ID</key>
	<string>652487877880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.erovicodes.tothemapp</string>
	<key>PROJECT_ID</key>
	<string>tothem-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tothem-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652487877880:ios:f840c000796bf94073470d</string>
</dict>
</plist>